{% extends 'todolist/base.html' %}
{% block content %}
    <h5>Benötigst du <a class="btn btn-link" href="{% url 'hilfe' %}" target="blank"><strong>Hilfe</strong></a>?</h5>
    {% for post in posts %}
        <div class="post">
            <h3><a href="{% url 'list_detail' pk=post.pk %}" >{{ post.title }} </a></h3>
            <p>{{ post.text|linebreaksbr }}</p>
            <h4><a href="{% url 'list_detail' pk=post.pk %}">To-Do's: {{ post.todos.count }}</a></h4>
            <h4><a href="{% url 'todo_closed' pk=post.pk %}">Erledigte To-Do's: {{ post.approved_todos.count }}</a></h4>
<!--            <h4><a href="{% url 'todo_details' %}"><button type="button">To-Do's</button></a></h4>-->
            <h5><p>Ersteller: {{ post.author}}</p></h5>
            <h5><p>Für: {{ post.to}}</p></h5>
            <div class="date">
                <h5>Veröffentlicht: {{ post.published_date }}</h5>
            </div>
            ----------------------------------------------
        </div>
    {% endfor %}
{% endblock %}