{% extends 'todolist/base.html' %}
{% block content %}
    <div class="post">
        {% if post.published_date %}
        {% endif %}
        {% if user.is_authenticated %}
        <h4><a class="btn btn-warning" href="{% url 'list_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-danger" href="{% url 'list_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a></h4>
        {% endif %}
        <h2>{{ post.title }}</h2>
        <h4><p>Von: {{ post.author}}</p></h4>
        <h4><p>Für: {{ post.to}}</p></h4>
        <div class="date">
                <h5>Veröffentlicht: {{ post.published_date }}</h5>
        </div>
    </div>
    <hr>
    <a class="btn btn-custom" href="{% url 'add_todo_to_list' pk=post.pk %}">To-Do hinzufügen</a>
    {% for todo in post.todos.all %}
        <div class="todo">
            <div class="date">
                <p><h5>{{ todo.created_date }}</h5></p>
            <p><h4>{{ todo.text|linebreaks }}</h4></p>
                {% if not todo.approved_todo %}
            <p><h4>Schon erledigt <strong>{{ post.to }}</strong>?</h4></p>
                {% endif %}
                <a class="btn btn-warning" href="{% url 'todo_edit' pk=todo.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                <a class="btn btn-danger" href="{% url 'todo_remove' pk=todo.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
            {% if not todo.approved_todo %}
                <a class="btn btn-success" href="{% url 'todo_approve' pk=todo.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
            {% endif %}

            </div>
        </div>
    {% empty %}
        <p>Noch kein To-Do vorhanden.</p>
    {% endfor %}
{% endblock %}