{% load static %}
<html>
    <head>
        <title>ToDo-Liste</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
        <body>
        <div class="page-header">
            <h1><a href="/">ToDo-Liste</a></h1>
            <a href="{% url 'todo_new' %}"type="button">New ToDo</a>
            <a href="{% url 'todo_new' %}"><button type="button">New ToDo</button></a>
            @Vivi: Was gefällt dir da besser? Button oder Link?
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>