{% extends 'blog/base.html' %}
{% load static %}
<html>
    <head>
        <title>To-Dos</title>
    </head>
   <body>
            <div class="page-header">
                <h1><a href="/">To-Dos</a></h1>
            </div>
            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                    {% block content %}
                         <a href="{% url 'todonew' %}"><button type="button">Neues To-Do erstellen</button></a>
<!--                        href muss geändert werden zum Anlegen einer neuen Aufgabe-->
                    {% endblock %}
                    </div>
                </div>
            </div>
        </body>

</html>