{% extends "todolist/base.html" %}

{% block content %}

<img src="../../static/hilfe/images/Hilfe1.JPG"
	width="400px"
    align="right">

<img src="../../static/hilfe/images/Hilfe2.JPG"
	width="400px"
align="left">

<img src="../../static/hilfe/images/Hilfe3.JPG"
	width="400px"
align="right">

<img src="../../static/hilfe/images/Hilfe4.JPG"
	width="400px">
<h4><span style="text-decoration: underline;">Kleine Hilfestellung:</span></h4>

<p>Als erstes muss eine neue To-Do Liste erstellt werden. </p>
<p>Danach gelangst du durch klicken auf den To-Do Listen Namen zur Bearbeitung bzw. zum Löschen der To-Do Liste.</p>
<p>Wenn du auf deine erstellten To-Do's zugreifen möchtest oder To-Do's erstellen/bearbeiten/löschen/abhaken möchtest, musst du auf To-Do's klicken.</p>
<p>Unter deinen erstellen To-Do's wird dir angezeigt, wieviele und welche To-Do's vorliegen und welche schon erledigt wurden.</p>
<p>Zum Abmelden reicht ein Klick auf den "Abmelden"-Button oben rechts.</p>

{% endblock %}