{% extends "todolist/base.html" %}

{% block content %}
<h4><span style="text-decoration: underline;">Kleine Hilfestellung:</span></h4>
<p>Als erstes muss eine neue To-Do Liste erstellt werden. </p>
<p>Danach gelangst du durch klicken auf den To-Do Listen Namen zur Bearbeitung bzw. zum Löschen der To-Do Liste.</p>
<p>Wenn du auf deine erstellten To-Do's zugreifen möchtest oder To-Do's erstellen/bearbeiten/löschen/abhaken möchtest, musst du auf To-Do's klicken.</p>
<p>Unter deinen erstellen To-Do's wird dir angezeigt, wieviele und welche To-Do's vorliegen und welche schon erledigt wurden.</p>
<p>Zum Abmelden reicht ein Klick auf den "Abmelden"-Button oben rechts.</p>

<h4><a href="{% url 'hilfe_top' %}"><button type="button">Hier erfährst du mehr über das Menü oben</button></a></h4>
<h4><a href="{% url 'hilfe_list' %}"><button type="button">Hier efährst du mehr über das Menü der To-Do Listen</button></a></h4>
<h4><a href="{% url 'hilfe_todo' %}"><button type="button">Hier erfährst du mehr über das Menü der To-Do's</button></a></h4>




{% endblock %}