{% extends "todolist/base.html" %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
        {{form}}
        <p><button style="background-color: darkviolet; color:white" class="btn btn-outline-info" type="submit">Registrieren</button></p>
    </form>

    Wenn du schon einen Account hast, geht es hier zur <a class="btn btn-link" href='login' target="blank"><strong>Anmeldung</strong></a> .

<p>Mit deiner Registrierung stimmst du unseren allgemeinen Nutzungsbedingungen
<!--<h4><a href="{% url 'anbs' %}"><button type="button">ANB's</button></a></h4> -->
    <a class="btn btn-link" href="{% url 'anbs' %}" target="blank"><strong>ANB's</strong></a>
zu. </p>





{% endblock %}